<!DOCTYPE html>
<html>
    <head>
        <link rel= "icon" href= "/img/weather.png">
        <title>Weather-app</title>
        <link rel ="stylesheet" href= "/css/styles.css" >
    </head>
        
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Denny. it uses data from map.box adn weather-api</p>
        <img class='portrait' src = "/img/robot.png">
    </div>
    
  
    <p>{{>footer}}</p>
</body>

</html>