<!DOCTYPE html>
<html>
    <head>
        <link rel= "icon" href= "/img/weather.png">
        <title>Weather-app</title>
        <link rel ="stylesheet" href= "/css/styles.css" >
    </head>
        
<body>
    <div class="main-content">
          {{>header}}
         <h4>This is some helpful text</h4>
    </div>
  
   
    <p>{{>footer}}</p>
</body>

</html>